html{
    scroll-padding-top: 10vh;
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway' ;
    margin: 0;
}
* {
    box-sizing: border-box;

}
@font-face {
    font-family: Raleway;
    src: local(Raleway)
  }
.container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'ban ban'
    'oss img'
    'ar1 ar2'
    ;
    grid-template-columns: 1fr 1fr;
}
#headerbackground{
    background: darkslateblue;
    opacity: 0; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}
header{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    justify-content: left;
    z-index: 2;
}
.hamburger-menu{
    display: none;
}
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    height: 100%;
    justify-self: center;
}
li{
    display: flex;
    float: right;
    height: 100%;
    width: 15vw;
    align-content: center;
}
.menubutton{
    display: none;
}
.knapp{
    display: block;
    display: flex;
    margin: 0px 4px 0px 4px;
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
    justify-content: center;

}
#banner{
    background-image: url(/img/blueimage.jpg);
    background-size: cover;
    grid-area: ban;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: left;
}
#name{
    margin-left: 5rem;
    color: white;
    font-size: x-large;
}
#arrow{
    position: absolute;
    left: 45%;
    bottom: 1%;
    width: 4rem;
}
#omossimg{
    grid-area: img;
    height: 90vh;
    background-image: url(/img/man-and-woman-discussing.jpg);
    background-size: cover;
}
#artoss{
    padding: 10px;
    grid-area: oss;
    padding: 10px;
    height: 90vh;
    margin-left: 7em;
    margin-right: 3em;
    line-height: 150%;
    margin-top: 2em;
}
#art1{
    background: white;
    grid-area: ar1;
    height: 90vh;
    padding: 10px;
    margin-left: 10em;
    margin-top: 1em;
    line-height: 140%;

}
#art2{
    background: white;
    grid-area: ar2;
    height: 90vh;
    padding: 10px;
    margin-right: 10em ;
    margin-top: 1em;
    line-height: 140%;
}
.parallax {
    
    background-image: url(/img/paralax_img.png);
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#anst{
    height: 70vh;
    padding: 3em 0 0 5em;
}
#namn{
    position: absolute;
    left: 17vw;
}
#vanlig{
    position: absolute;
    left: 43vw;
}
#lorem{
    position: absolute;
    left: 69vw;
}
.anstimg1{
    margin: 0 5vw 0 11vw;
}
.anstimg2{
    margin: 0 5vw 0 5vw;
}
.anstimg3{
    margin: 0 5vw 0 5vw;
}
#kontakt{
    padding: 7em 0 7em 10em;
    background: rgba(40, 0, 100, 0.5);
    height: 60vh;
    z-index: 1;
    color: black;
}
footer{
    padding: 7em;
    display: flex;
    background: darkgrey;
    height: 55vh;
    justify-content: center;
    flex-direction: column;
}


@media screen and (max-width: 450px) {
    header{
        justify-content: right;
        align-items: unset;
    }
    .container{
        grid-template-areas: 
        'ban'
        'oss'
        'img'
        'ar1'
        'ar2';
        grid-template-columns: auto;
    }
    #menu{
        display: none;
    }
    .menubutton{
        margin: 5px;
        display: inherit;
        float: right;
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    .dropdown{
        position: relative;
        display: inline-block;
        right: 0em;
    }
    .hamburger-menu {
        display: none;
        position: absolute;
        background-color: royalblue;
        min-width: 160px;
        z-index: 2;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .hamburger-menu a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 12px 16px;
    }
    #banner{
        width: 100vw;
        background-size: cover;
    }
    #name{
        margin-left: 2em;
        
    }
    #artoss{
        padding-top: 2vh;
        line-height: initial;
        margin-left: 1em;
        padding-bottom: 1vh;
        height: 120vh;
    }
    #omossimg{
        background-size: cover;
        height: 30vh;
    }
    #art1{
        line-height: initial;
        height: 120vh;
        margin: 1em 2em 0 1em;
        padding: 10px;

    }
    #art2{
        line-height: initial;
        padding: 10px;
        margin: 1em 2em 0 1em;
        height: 120vh;

    }
    .parallax{
        height: 25vh;
    }
    #anst{
        height: 170vh;
        width: 100vw;
        display: grid;
        grid-template-areas: 
        'tit'
        'anst1'
        'namn'
        'anst2'
        'van'
        'anst3'
        'lor';
    }
    #ansttit{
        grid-area: tit;
    }
    .anstimg1{
        margin: 5em 0 0 0 ;
        grid-area: anst1;
    }
    .anstimg2{
        margin: 2em 0 0 0;
        grid-area: anst2;
    }
    .anstimg3{
        margin: 5em 0 0 0;
        grid-area: anst3;
    }
    #namn{
        position: unset;
        grid-area: namn;
    }
    #vanlig{
        position: unset;
        grid-area: van;
    }
    #lorem{
        position: unset;
        grid-area: lor;
    }
    #kontakt{
        height: 50vh;
        padding: 10px;
    }
    footer{
        padding: 2em;
        height: 40vh;
    }
    .show {
        display: block;
    }
    

}
