html{
    scroll-padding-top: 10vh;
}
body{
    margin: 0;
}
* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */

}
.container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'ban ban'
    'ar1 ar2'
    ;
    grid-template-columns: 1fr 1fr;
}
#headerbackground{
    background: darkslateblue;
    opacity: 100%; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}
#logo{
    height: ;
    width: 10vh;
}
#logo img {
    width: 100%;
    height: auto;
}
header{
    height: 10vh;
    width: 100%;
    position: fixed;
}
#banner{
    background: blue;
    grid-area: ban;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
#art1{
    background: whitesmoke;
    grid-area: ar1;
    height: 70vh;
    width: 100%;
    padding: 10px;
    /* margin-right: 5px; */
}
#art2{
    background: whitesmoke;
    grid-area: ar2;
    height: 70vh;
    width: 100%;
    /* margin-left: 5px; */
    padding: 10px;

}
